[submodule "lib/Arduino-List"]
	path = lib/Arduino-List
	url = https://github.com/nkaaf/Arduino-List
[submodule "lib/FabGL"]
	path = lib/FabGL
	url = https://github.com/fdivitto/FabGL
[submodule "lib/rishka"]
	path = lib/rishka
	url = https://github.com/nthnn/rishka
