doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="author", content="nthnn")
    meta(name="description", content="Jessy OS Official Website")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Jessy OS | API Reference
    link(href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet")

    style html, body {overflow-x: hidden}
body(class="bg-primary text-white")
    div(class="mt-4")

    center 
        img(src="assets/jessy_os_logo.png" width="250")
        div(class="col-6")
            a(class="btn btn-primary text-white", href="index.pug") Home
            a(class="btn btn-primary text-white", href="docs.pug") Documentation
            a(class="btn btn-primary text-white", href="#") API Reference
            a(class="btn btn-primary text-white", href="https://github.com/nthnn/Jessy-OS", target="_blank") GitHub
            a(class="btn btn-primary text-white", href="donate.pug") Donate 

    div(class="row")
        div(class="col-md-3")

        div(class="col-md-6")
            div(class="container")
                br
                hr

                br
                h3(class="text-white") API Reference
                br
                p No contents yet.

                br
                footer(align="center") 
                    br
                    hr
                    small Copyright &copy; 2023 - Nathanne Isip
                    br