doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="author", content="nthnn")
    meta(name="description", content="Jessy OS Official Website")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Jessy OS | API Reference
    link(href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet")

    style html, body {overflow-x: hidden}
body(class="bg-primary text-white")
    div(class="mt-4")

    center 
        img(src="assets/jessy_os_logo.png" width="250")
        div(class="col-6")
            a(class="btn btn-primary text-white", href="index.pug") Home
            a(class="btn btn-primary text-white", href="docs.pug") Documentation
            a(class="btn btn-primary text-white", href="#") API Reference
            a(class="btn btn-primary text-white", href="https://github.com/nthnn/Jessy-OS", target="_blank") GitHub
            a(class="btn btn-primary text-white", href="donate.pug") Donate 

    div(class="row")
        div(class="col-md-3")

        div(class="col-md-6")
            div(class="container")
                br
                hr

                br
                h3(class="text-white") API Reference
                br

                div(class="card bg-primary text-white border")
                    div(class="card-header border-dark")
                        h3(class="card-title text-white m-0") IO

                    div(class="card-body")
                        pre(style="font-size: 1.3em") print(object)
                        p Print a value to the standard output console.
                        h5(class="text-white") Parameters:
                        ul 
                            li <b>object</b> &mdash; The value to be printed to the standard output console.
                        h5(class="text-white") Return value:
                        ul 
                            li None
                        h5(class="text-white") Example Usage: 
                        pre(class="border border-dark pt-1 pb-2 px-2 d-block").
                            var name = "Jessy OS";
                            IO.print("Hello, from " + name);

                        hr
                        pre(style="font-size: 1.3em") println(object)
                        p Print a value to the standard output console ending with new line.
                        h5(class="text-white") Parameters:
                        ul 
                            li <b>object</b> &mdash; The value to be printed to the standard output console ending with new line.
                        h5(class="text-white") Return value:
                        ul 
                            li None
                        h5(class="text-white") Example Usage: 
                        pre(class="border border-dark pt-1 pb-2 px-2 d-block").
                            IO.println("Hello world!");

                br
                footer(align="center") 
                    br
                    hr
                    small Copyright &copy; 2023 - 
                        a(href="https://github.com/nthnn", target="_blank", class="text-decoration-none text-info") Nathanne Isip
                    br

        div(class="col-md-3")

    br
    br