doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="author", content="nthnn")
    meta(name="description", content="Jessy OS Official Website")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Jessy OS | Donate
    link(href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet")

    style html, body {overflow-x: hidden}
body(class="bg-primary text-white")
    div(class="mt-4")

    center 
        img(src="assets/jessy_os_logo.png" width="250")
        div(class="col-6")
            a(class="btn btn-primary text-white", href="index.pug") Home
            a(class="btn btn-primary text-white", href="docs.pug") Documentation
            a(class="btn btn-primary text-white", href="api-refs.pug") API Reference
            a(class="btn btn-primary text-white", href="https://github.com/nthnn/Jessy-OS", target="_blank") GitHub
            a(class="btn btn-primary text-white", href="#") Donate 

    div(class="row")
        div(class="col-md-3")

        div(class="col-md-6")
            div(class="container")
                br
                hr

                br
                h3(class="text-white") Donate
                br
                p.
                    Jessy OS is an open-source project and is voluntarily developed.
                    If you find Jessy OS useful and would like to support its continued
                    development and improvement, you can make a donation.
                
                center 
                    a(href="https://www.buymeacoffee.com/nthnn", target="_blank")
                        img(src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png", width="180")
                br

                p.
                    Jessy OS developers are profoundly grateful for your support! Your
                    generosity allows us to continue developing and maintaining Jessy OS,
                    making it better with each update. Your contribution is not just a
                    donation; it's a vote of confidence in the project and a testament
                    to the strength of the open-source community. Your contribution will
                    help cover fund new features and support the community and developers
                    (?) behind Jessy OS.

                p.
                    Thank you for being a part of our journey and helping us build a
                    brighter future for QLBase!

                br
                footer(align="center") 
                    br
                    hr
                    small Copyright &copy; 2023 - Nathanne Isip
                    br